.resumeSection {
 // height: 100vh;
 height: 100vh;
  width: 100%;
 // background-color: purple;

  &__container {
 //   background-color: rgb(82, 5, 68);
    height: 100vh;
    width: 100%;
    //margin-top: 1rem;
    padding: 1rem 1rem;
    box-sizing: border-box;

    &__title {
   //   background-color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // margin-top: 2rem;

      h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.2rem;
        font-size: 2rem;
        color: var(--theme-nav-background-color);

        span{
          display: flex;
          align-items: center; 
      }
      }

      h5 {
        margin-top: 0.8rem;
        font-weight: 100;
        color: var(--font---subtext);
      }

      img {
        margin-top: 0.1rem;
        height: 1.7rem;
      }
    }

    &__contentWrapper {
    //  background-color: #ffffff;
      color:var(--theme-nav-background-color);
     // display: flex;
     // align-items: center;
     // justify-content: space-evenly;
      //margin-top: 1.5rem;
     // box-sizing: border-box;
     // width:100%;
      height: 29.25rem;
      margin: 1rem 5rem;
      // padding: 0 3rem;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      border-top: 0.5rem solid var(--theme-nav-background-color);
      border-bottom: 0.5rem solid var(--theme-nav-background-color);

      &__tab {
        &__ul {
          display: flex;
          justify-content: center;
          align-items: center;
        //  background-color: rgb(254, 105, 13);
          height: 3rem;

          li {
          //  background-color: aqua;
          //color:var(--theme-nav-background-color);
            padding: 0.4rem 1rem;
            border: 2px solid  var(--theme-nav-background-color);
            border-right: 0;
            border-bottom-left-radius: 2rem;
            border-top-left-radius: 2rem;
            
           
            transition: all 0.7s ease;

            &:nth-child(2) {
              border-left: 0;
              border-right: 0;
              border-radius: 0;
              // border-left: 1px  solid var( --theme-nav-background-color);
            }
            &:nth-child(3) {
              border-left: 0;
             //text-align: center;
             border-right: 2px solid var(--theme-nav-background-color);             
              padding-left: 2.6rem;
              padding-right: 2.6rem;
              border-radius: 0;
              border-top-right-radius: 2rem;
              border-bottom-right-radius: 2rem;
             
            }

            &:hover {
              color: #ffffff;
              background-color: var(--theme-nav-background-color);
              cursor: pointer;
            }
          }
        }

        &__content {
       //   background-color: aqua;
        //  transition: all 0.7s ease;
          height: 25.35rem;
          padding: 1rem;
          
          &__wrapper{
         //   background-color: palegreen;
            height: 23.35rem;
         
           
          }
          
          
        }
      }
    }
  }
}
.hide{
  display: none;

}

.show{
 display: block;
}
@keyframes moving {
  from{transform: translateX(50px); opacity: 0;}
  to{transform: translateX(0px); opacity: 1;}
}
.active {
  color: white;
  background-color: var(--theme-nav-background-color);

}
// Media Query
@media only screen and (max-width: 960px) {
    .resumeSection__container__contentWrapper{
        margin: 1rem 2rem;
    }
}

@media only screen and (max-width: 840px) {
}

@media only screen and (max-width: 740px) {
    .resumeSection__container
    {   
        padding: 1rem 0rem;
      //  margin:0 1rem;
        &__contentWrapper{
            margin: 1rem 3rem;
   

        }
    }
}

@media only screen and (max-width: 670px) {
    .resumeSection__container
    {   

        &__contentWrapper{
        margin:1rem 2.7rem;


        }
    }
}
@media only screen and (max-width: 650px) {
    .resumeSection__container
    {   

        &__contentWrapper{
        margin:1rem 0rem;


        }
    }
}

@media only screen and (max-width: 550px) {
    .resumeSection__container
    {   

        &__contentWrapper{
        margin:1rem 0;

        }
    }
}
@media only screen and (max-width: 385px) {

  .resumeSection__container__contentWrapper__tab__ul{

    li {
      //  background-color: aqua;
      //color:var(--theme-nav-background-color);
        padding: 0.4rem 0.5rem;
        border: 2px solid  var(--theme-nav-background-color);
        border-right: 0;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
        font-size: 0.8rem;
        transition: all 0.7s ease;

        &:nth-child(2) {
          border-left: 0;
          border-right: 0;
          border-radius: 0;
          // border-left: 1px  solid var( --theme-nav-background-color);
        }
        &:nth-child(3) {
          border-left: 0;
         //text-align: center;
         border-right: 2px solid var(--theme-nav-background-color);             
          padding-left: 2.1rem;
          padding-right: 2.1rem;
          border-radius: 0;
          border-top-right-radius: 2rem;
          border-bottom-right-radius: 2rem;
         
        }
    }

  }
}

// @media only screen and (max-width: 365px) {
//   .resumeSection__container__contentWrapper__tab__content__wrapper{
//     font-size: 0.2rem;
//   }
// }